<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Treatment Detail</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
    <center><header>
       <h1>Add New Treatment Detail</h1>
    </header></center>

    <main class="add-treatment-detail" style="margin-top: 20px;">
        <p>ID-การรักษา: <strong><%= treatmentID %></strong></p>  
        <form action="/add-treatment-detail" method="POST">
            <input type="text" id="treatmentID" name="treatmentID" value="<%= treatmentID%>" required />

            <div class="form-group">
                <label for="timestamp">วันที่รักษา:</label>
                <input type="datetime-local" id="timestamp" name="timestamp" required>
            </div>

            <div class="form-group">
                <label for="next_treatment_date">วันที่นัดการรักษา:</label>
                <input type="date" id="next_treatment_date" name="next_treatment_date" required>
            </div>

            <div class="form-group">
                <label for="dispensing_medicine">การจ่ายยา</label>
                <textarea id="dispensing_medicine" name="dispensing_medicine" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="latest_treatment_detail">รายละเอียดการรักษา:</label>
                <textarea id="latest_treatment_detail" name="latest_treatment_detail" rows="4" required></textarea>
            </div>

            <button type="submit">Add Treatment Detail</button>
        </form>
    </main>
</body>

</html>
