<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Doctor</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body class="add-doctor">
    <header>
        <center> <div class="container">
            <h1>Add New Doctor</h1>
        </div></center>
    </header>
    <main>
        <div class="form-container">
            <form action="/add-doctor" method="POST">
                <div class="form-group">
                    <label for="name">ชื่อ:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="department">แผนก:</label>
                    <input type="text" id="department" name="department" required>
                </div>

                <div class="form-group">
                    <label for="contact">ติดต่อ:</label>
                    <input type="text" id="contact" name="contact" required>
                </div>

                <div class="form-group">
                    <label for="date_of_birth">วัน/เดือน/ปีเกิด:</label>
                    <input type="date" id="date_of_birth" name="date_of_birth" required>
                </div>

                <div class="form-group">
                    <label for="doctor_detail">รายละเอียดแพทย์:</label>
                    <textarea id="doctor_detail" name="doctor_detail" rows="4"></textarea>
                </div>

                <div class="form-group">
                    <label for="medical_practice_license_number">หมายเลขใบอนุญาตประกอบวิชาชีพ:</label>
                    <input type="text" id="medical_practice_license_number" name="medical_practice_license_number" required>
                </div>

                <center><button type="submit" class="submit-button">Add Doctor</button></center>
            </form>
        </div>
    </main>
</body>

</html>
